<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card bg-dark text-white shadow-lg rounded-4 border-secondary">
        <div class="card-body p-5">
          <h2 class="fw-bold mb-4 text-center">Iniciar <span class="text-info">Sesión</span></h2>
          
       

          <form (ngSubmit)="onRegister()">
            <div class="mb-3">
              <label class="form-label text-secondary small">Nombre de Usuario</label>
              <input type="text" name="username" [(ngModel)]="userData.username" class="form-control bg-secondary text-white border-0 rounded-pill px-3" required placeholder="ejemplo Martinez77">
            </div>

            <div class="mb-3">
              <label class="form-label text-secondary small">Correo Electrónico</label>
              <input type="email" name="email" [(ngModel)]="userData.email" class="form-control bg-secondary text-white border-0 rounded-pill px-3" required placeholder="tucorreo@gmail.com">
            </div>

            <div class="mb-3">
              <label class="form-label text-secondary small">Contraseña</label>
              <input type="password" name="password" [(ngModel)]="userData.password" class="form-control bg-secondary text-white border-0 rounded-pill px-3" required placeholder="••••••••">
            </div>

            <div class="mb-3">
              <label class="form-label text-secondary small">Confirmar Contraseña</label>
              <input type="password" name="password_confirm" [(ngModel)]="userData.password_confirm" class="form-control bg-secondary text-white border-0 rounded-pill px-3" required placeholder="••••••••">
            </div>

            <button type="submit" class="btn btn-info text-dark w-100 rounded-pill fw-bold py-2 mb-3">
              Registrarse
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>