.custom-btn-all {
  transition: all 0.3s ease;
  border-width: 2px;
}

.custom-btn-all:hover {
  background-color: #0dcaf0; /* Color Info principal corporativo */
  color: #212529 !important; /* Contraste óptimo oscuro para el texto */
  transform: translateY(-3px); /* Efecto levitación sutil */
  box-shadow: 0 6px 16px rgba(13, 202, 240, 0.35) !important;
}